:root {
    /* Color palette */
    --accent-light: #4caf50;
    --accent-mid:  #45a049;
    --accent-dark: darkgreen;

    --title-text-color: #333;
    --second-text-color: #162217;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 30;
    padding: 30;
    display: flex;
    justify-content: center;
    align-content: space-around;
    align-items: center;
    height: 100vh;
}