:root {
    /* Color palette */
    --accent-light: #4c84af;
    --accent-mid:  #4563a0;
    --accent-dark: rgb(0, 47, 100);

    --title-text-color: #333;
    --second-text-color: #162217;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 30;
    padding: 30;
    display: flex;
    justify-content: center;
    align-content: space-around;
    align-items: center;
    height: 100vh;
}

#container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.full-width {
    width: 100%;
}