h1 {
    color: var(--title-text-color);
}

#description {
    padding: 10px 10px;
    color: var(--second-text-color);
}

#plotGraphBtn {
    background-color: var(--accent-light);
    color: #fff;
    padding: 10px 20px;
    margin: 30px 30px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#plotGraphBtn:hover {
    background-color: var(--accent-mid);
}

#plotgraphbtnbutton:active {
    background-color: var(--accent-dark);
}

#test_number {
    width: 30%;
    padding: 10px;
    margin-top: 10px;
    box-sizing: border-box;
}